<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
      integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
    />
    <title>Budgtr Home</title>
  </head>

<%
  
  const amountArr = [];
  for (let i=0; i < budgetData.length; i++){
    let amountStr = budgetData[i].amount
    let amountNum = parseInt(amountStr);
    amountArr.push(amountNum)
  }
  console.log(amountArr)
  let sum = amountArr.reduce(function(acc, num){
    return acc + num;
  }, 0)
  console.log(sum)
  const bankAccount = sum;

%>



  <body
    <% if( bankAccount < 0){ %>
        style="background-color:red"
    <% } else if ( bankAccount > 1000) { %>
        style="background-color:green"
        <% } %>
  >
    <div class="container">
        <h1>Hello Adult Life</h1>
        <p>Bank Account Balance: <%= bankAccount%></p>
        <table>
            <th>Name</th>
            <% for(let i=0; i < budgetData.length; i++) { %>
                <th>
                    <a href="/budgtr/<%=i%>"><%=budgetData[i].name%></a>
                </th>
            <% } %>
            <tr>
            <th>Date</th>
            <% for(let i=0; i < budgetData.length; i++) { %>
                <td>
                    <%= budgetData[i].date %>
                </td>
            <% } %>
            </tr>
            <tr>
            <th>Amount</th>
            <% for(let i=0; i < budgetData.length; i++){ %>
                <td>
                     <%= budgetData[i].amount %>
                </td>
            <% } %>
           </tr>
        </table>
        <button><a href="/budgtr/new">Create New Item</a></button>
    </div>

  </body>
</html>
